<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">ABA Basketball</a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link"  [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/league']">League</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/playoffs']" *ngIf="this.league?.stateId > 7">Playoffs</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/team']">Team</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/draft']">Draft</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/inbox']">Inbox</a><span *ngIf="this.countOfMessages?.countOfMessages != 0">( {{ this.countOfMessages?.countOfMessages }} )</span><span *ngIf="this.countOfMessages?.countOfMessages == 0">( 0 )</span>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/admin']" *ngIf="this.isAdmin == 1">Admin</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>