<section class="dashboard-area">
	<h3 class="display">Draft Headquarters</h3>
	<span class="badge badge-danger mb-3"
		*ngIf="this.league?.stateId == 1 || this.league?.stateId == 14">{{ this.league?.state }}</span>
	<span class="badge badge-info mb-3"
		*ngIf="this.league?.stateId == 2 || this.league?.stateId == 6">{{ this.league?.state }}</span>
	<span class="badge badge-success mb-3"
		*ngIf="this.league?.stateId == 3 || this.league?.stateId == 4 || this.league?.stateId == 5 || this.league?.stateId == 11 || this.league?.stateId == 13 || this.league?.stateId == 14">{{ this.league?.state }}</span>
	<span class="badge badge-primary mb-3" *ngIf="this.league?.stateId == 7">{{ this.league?.state }}</span>
	<span class="badge badge-warning mb-3"
		*ngIf="this.league?.stateId == 8 || this.league?.stateId == 9 || this.league?.stateId == 15">{{ this.league?.state }}</span>
	<span class="badge badge-secondary mb-3" *ngIf="this.league?.stateId == 10">{{ this.league?.state }}</span>
	<span
		*ngIf="this.league?.stateId >= 6 && this.league?.stateId != 12 && this.league?.stateId != 13 && this.league?.stateId != 14">
		- Day #{{ this.league?.day }}</span>
</section>


<div class="box">
    <div class="container">
        <div class="row cards-row">
            <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
                <div class="card-header"><i class="fa fa-list fa-2x" aria-hidden="true"></i><span
                        class="header-card ml-3"><strong>Player Pool</strong></span></div>
                <div class="card-body">
                    <p class="card-text">View the available players in the upcoming draft.</p>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-link text-left" (click)="playerPoolClicked()">Go to
                            Player Pool</button>
                    </div>
                </div>
            </div>

            <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
                <div class="card-header"><i class="fa fa-users fa-2x" aria-hidden="true"></i><span
                        class="header-card ml-3"><strong>Draftboard</strong></span></div>
                <div class="card-body">
                    <p class="card-text">View your draftboard and order your auto-picks..</p>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-link text-left" (click)="rankingsClicked()">Go to
                            Draftboard</button>
                    </div>
                </div>
            </div>

            <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;" *ngIf="this.league?.stateId != 1">
                <div class="card-header"><i class="fa fa-list-ol fa-2x" aria-hidden="true"></i><span
                        class="header-card ml-3"><strong>Draft Lottery</strong></span></div>
                <div class="card-body">
                    <p class="card-text">View the draft lottery and see what the odds or draft order.</p>
                    <div style="text-align: right;">
                        <button class="teamlink" type="button" class="btn btn-link text-left" (click)="lotteryClicked()">Go to Draft
                            Lottery</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="box">
    <div class="container">
        <div class="row cards-row" *ngIf="this.league?.stateId == 2">
            <blockquote class="blockquote">
                <p class="mb-0 text-warning">Initial Draft Lottery is awaiting to be run by the league administrator.
                </p>
                <footer class="blockquote-footer">League Information
                </footer>
            </blockquote>
        </div>

        <div class="row cards-row" *ngIf="this.league?.stateId == 3 || this.league?.stateId == 4 || this.league?.stateId == 5">
            <h4 class="text-success">Draft - Round {{ this.currentRound }} - {{ this.timeDisplay }}</h4>
            <br />
            <button class="btn btn-danger ml-3" *ngIf="this.isAdmin == 1 && this.league?.stateId == 3" (click)="beginDraft()">Start Draft</button>
        </div>

        <div class="row cards-row">
            <p>View default salaries for each pick </p><i class="fa fa-info-circle" (click)="openModal(viewsalaries)"></i>
        </div>

        <div class="row cards-row" *ngIf="this.league?.stateId == 4">
            <h4 class="title">Current - Pick #{{ tracker?.pick }} <ng-container *ngIf="this.onClockLoaded == 2">{{ getTeamOnClock() }}</ng-container></h4>
        </div>

        <div class="row cards-row" *ngIf="this.league?.stateId == 3 || this.league?.stateId == 4 || this.league?.stateId == 5">
            <table class="table-secondary">
                <thead>
                    <tr>
                        <th>Pick</th>
                        <th>Team</th>
                        <th>Selection</th>
                    </tr>
                </thead>
                <tr *ngFor="let picks of this.draftPicks; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td><button class="teamlink" (click)="viewTeam(this.picks.teamId)">{{ picks.teamName }}</button></td>
                    <td>{{ picks.playerName }}</td>
                    <td></td>
                    <td>
                        <ng-container *ngIf="this.tracker.round == this.currentRound && this.tracker.pick == picks.pick && this.teamId == picks.teamId">
                            <button type="submit" class="btn btn-primary" (click)="openModal(makePick)">Make Pick</button>
                        </ng-container>
                        <ng-container *ngIf="this.tracker.round == this.currentRound && this.tracker.pick == picks.pick && this.isAdmin == 1">
                            <button type="submit" class="btn btn-danger ml-1" (click)="autoPickAction()">Auto Pick</button>
                        </ng-container>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row cards-row" *ngIf="this.league?.stateId == 3 || this.league?.stateId == 4 || this.league?.stateId == 5">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link">&laquo;</a>
                </li>
                <li class="page-item" *ngFor="let page of counter(13); let i = index;">
                    <a class="page-link">{{ i + 1 }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>



  <ng-template #makePick>
	<div class="modal-header">
	  <h4 class="modal-title">Make Draft Selection - Round #{{ this.tracker?.round }} Pick #{{ this.tracker?.pick }}</h4>
	  <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
	</div>
	<form #draftPlayerForm>
		<div class="modal-body">
                  <p>The {{ this.team.teamname }} {{ this.team.mascot }} select:</p>
                  <select name="leagueStatus" [(ngModel)]="this.draftSelection">
                        <option *ngFor="let player of this.draftablePlayers" [value]="player.playerId">{{ player.surname }}, {{ player.firstName }}</option>
                  </select>
		</div>
		<div class="modal-footer form-group text-center">
			<button type="submit" class="btn btn-primary" (click)="makeDraftPick()">Select</button>
			<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
		  </div>
	</form>
</ng-template> 

<ng-template #viewsalaries>
	<div class="modal-header">
	  <h4 class="modal-title">Make Draft Selection - Round #{{ this.tracker?.round }} Pick #{{ this.tracker?.pick }}</h4>
	  <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
	</div>
	<table>
        <thead>
            <tr>
                <th>Round</th>
                <th>Picks 1 - 10</th>
                <th>Picks 11 - 20</th>
                <th>Picks 21 - 30</th>
            </tr>
        </thead>
        <tr *ngFor="let round of this.rounds; let i = index;">
            <td>Round #{{ i + 1 }}</td>
            <td>${{ getPickSalary(i + 1, 5) | number }}</td>
            <td>${{ getPickSalary(i + 1, 15) | number }}</td>
            <td>${{ getPickSalary(i + 1, 25) | number }}</td>
        </tr>
    </table>
    <div class="modal-footer form-group text-center">
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
      </div>
</ng-template> 