<div class="jumbotron">
    <h3 class="display">Draft Headquarters</h3>
</div>


<div class="box">
    <div class="container">
        <div class="row cards-row">
            <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
                <div class="card-header"><i class="fa fa-list fa-2x" aria-hidden="true"></i><span
                        class="header-card ml-3"><strong>Player Pool</strong></span></div>
                <div class="card-body">
                    <p class="card-text">View the available players in the upcoming draft.</p>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-link text-left" (click)="playerPoolClicked()">Go to
                            Player Pool</button>
                    </div>
                </div>
            </div>


            <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
                <div class="card-header"><i class="fa fa-users fa-2x" aria-hidden="true"></i><span
                        class="header-card ml-3"><strong>Draftboard</strong></span></div>
                <div class="card-body">
                    <p class="card-text">View your draftboard and order your auto-picks..</p>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-link text-left" (click)="rankingsClicked()">Go to
                            Draftboard</button>
                    </div>
                </div>
            </div>

            <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
                <div class="card-header"><i class="fa fa-list-ol fa-2x" aria-hidden="true"></i><span
                        class="header-card ml-3"><strong>Draft Lottery</strong></span></div>
                <div class="card-body">
                    <p class="card-text">View the draft lottery and see what the odds or draft order.</p>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-link text-left" (click)="lotteryClicked()">Go to Draft
                            Lottery</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="box">
    <div class="container">
        <div class="row cards-row" *ngIf="this.league?.stateId == 2">
            <blockquote class="blockquote">
                <p class="mb-0 text-warning">Initial Draft Lottery is awaiting to be run by the league administrator.
                </p>
                <footer class="blockquote-footer">League Information
                </footer>
            </blockquote>
        </div>

        <div class="row cards-row" *ngIf="this.league?.stateId == 3 || this.league?.stateId == 4">
            <h5 class="text-success">Draft - Round {{ this.currentRound }}</h5>
            <br />
            <button class="btn btn-danger ml-3" *ngIf="this.isAdmin == 1" (click)="beginDraft()">Start Draft</button>
        </div>

        <div class="row cards-row" *ngIf="this.league?.stateId == 3 || this.league?.stateId == 4">
            <table class="table-secondary">
                <thead>
                    <tr>
                        <th>Pick</th>
                        <th>Team</th>
                        <th>Selection</th>
                    </tr>
                </thead>
                <tr *ngFor="let picks of this.draftPicks; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ picks.teamName }}</td>
                    <td>{{ picks.playerName }}</td>
                    <td></td>
                    <td>
                        <!-- <ng-container *ngIf="round <= this.tracker.round">{{ getPlayerSelected(round, picks) }}
                        </ng-container> -->
                    </td>
                </tr>
            </table>
        </div>
        <div class="row cards-row" *ngIf="this.league?.stateId == 3 || this.league?.stateId == 4">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link">&laquo;</a>
                </li>
                <li class="page-item" *ngFor="let page of counter(13); let i = index;">
                    <a class="page-link">{{ i + 1 }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>