<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="jumbotron">
    <h3 class="display">Draft Headquarters</h3>
</div>




<div class="box">
    <div class="container">
        <div class="row cards-row">
            <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
                <div class="card-header"><i class="fa fa-list fa-2x" aria-hidden="true"></i><span
                        class="header-card ml-3"><strong>Player Pool</strong></span></div>
                <div class="card-body">
                    <p class="card-text">View the available players in the upcoming draft.</p>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-link text-left" (click)="playerPoolClicked()">Go to
                            Player Pool</button>
                    </div>
                </div>
            </div>


            <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
                <div class="card-header"><i class="fa fa-users fa-2x" aria-hidden="true"></i><span
                        class="header-card ml-3"><strong>Draftboard</strong></span></div>
                <div class="card-body">
                    <p class="card-text">View your draftboard and order your auto-picks..</p>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-link text-left" (click)="rankingsClicked()">Go to
                            Draftboard</button>
                    </div>
                </div>
            </div>

            <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
                <div class="card-header"><i class="fa fa-list-ol fa-2x" aria-hidden="true"></i><span
                        class="header-card ml-3"><strong>Draft Lottery</strong></span></div>
                <div class="card-body">
                    <p class="card-text">View the draft lottery and see what the odds or draft order.</p>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-link text-left" (click)="lotteryClicked()">Go to Draft
                            Lottery</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="box">
    <div class="container">
        <div class="row cards-row" *ngIf="this.league?.stateId == 2">
            <blockquote class="blockquote">
                <p class="mb-0 text-warning">Initial Draft Lottery is awaiting to be run by the league administrator.</p>
                <footer class="blockquote-footer">League Information
                </footer>
            </blockquote>
        </div>
    </div>
</div>