<!-- <div class="box">
	<div class="container">
		<div class="row">
			<div class="card col-4 mt-3" *ngIf="this.league?.stateId == 2">
				<div>
					<div class="mb-2">
						<h5 class="card-title">Initial Lottery</h5>
						<p class="card-text">Run the initial draft lottery</p>
						<button role="button" class="btn btn-primary" (click)="openModal(runLottery)">Run Lottery</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<ng-template #runLottery>
	<div class="modal-header">
	  <h4 class="modal-title">Run Initial Draft Lottery</h4>
	  <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
	</div>
	<form #draftlotteryForm (ngSubmit)="runInitialDraftLottery()">
		<div class="modal-body">
      <p>Click on run to perform the draft lottery</p>
		</div>
		<div class="modal-footer form-group text-center">
			<button type="submit" class="btn btn-primary">Run</button>
			<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
		  </div>
	</form>
</ng-template>  -->