.jumbotron {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

table { 
    border-spacing: 10px;
    /* border-collapse: separate; */
}

.edit-button {
    /* text-align: center; */
    padding: 5px 30px;
    /* position: relative; */
}

.editing-buttons {
    padding: 5px 30px;
}

.content-class {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.cards-row {
    padding: 5px;
    display: flex;
    justify-content: center;
}