.jumbotron {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.events {
    padding: 20px;
    text-align: center;
}

.upcoming {
    margin: 0 auto;
}

.cards-row {
    padding: 5px;
}

td { 
    padding: 10px;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}