.dashboard-area {
    position: relative;
    text-align: center;
    background: #202120;
    overflow: hidden;
}
.dashboard-area h3, span {
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #ffffff;
}

.card {
    color: white;
    float: left;
    width: calc(33% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: auto; /*550px; /* make this dynamic */
    text-align: center;
 }
 .small-card {
    color: white;
    float: center;
    padding: 5x;
    border-radius: 5px;
    height: auto; /*550px; /* make this dynamic */
    text-align: center;
 }
 .row {
     text-align: center;
     position: relative;
 }
 .rowpo {
    text-align: left;
    position: relative;
 }
 .card p {
    font-size: 18px;
 }
 .cardContainer:after {
    content: "";
    display: table;
    clear: both;
 }
 @media screen and (max-width: 600px) {
    .card {
       width: 100%;
    }
 }


/* .jumbotron {
    text-align: center;
    padding: 30px 0;
    position: relative;
} */

.lead {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.events {
    padding: 20px;
    text-align: center;
}

.stats {
    padding: 20px;
    text-align: center;
}

.upcoming {
    margin: 0 auto;
}

.cards-row {
    padding: 5px;
    display: flex;
    justify-content: center;
}

td { 
    padding: 10px;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}

.column {
    float: left;
  }
  
  .left {
    width: 50%;
  }
  
  .right {
    width: 50%;
  }

  .carousel {
    margin: 0 auto;
  }

  .message-wrap
  {
      box-shadow: 0 0 3px #ddd;
      padding:0;

  }
  .msg
  {
      padding:5px;
      margin:0;
  }
  .msg-wrap
  {
      padding:10px;
      max-height: 400px;
      overflow: auto;

  }

  .time
  {
      color:#bfbfbf;
  }

  .msg-wrap .media-heading
  {
      color:#03fca1;
      font-weight: 700;
  }


  .msg-date
  {
      background: none;
      text-align: center;
      color:#aaa;
      border:none;
      box-shadow: none;
      border-bottom: 1px solid #ddd;
  }


  body::-webkit-scrollbar {
      width: 12px;
  }

  
  /* Let's get this party started */
  ::-webkit-scrollbar {
      width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
      border-radius: 10px;*/
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
      border-radius: 10px;*/
      background:#ddd; 
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  ::-webkit-scrollbar-thumb:window-inactive {
      background: #ddd; 
  }

  .teamlink {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #03fca1;
    text-decoration: underline;
    cursor: pointer;
  }
