.jumbotron {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.events {
    padding: 20px;
    text-align: center;
}

.upcoming {
    margin: 0 auto;
}

.cards-row {
    padding: 5px;
    display: flex;
    justify-content: center;
}

td { 
    padding: 10px;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}

/* .border-info { */
    /* text-align: center;  centers all of the text - not how i want it*/
/* } */

/* .text-left {
    text-align: left !important;
} */







/* body{
    background: #eee;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#222222;
} */