<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="jumbotron">
	<h3 class="display">{{this.team?.mascot }} Dashboard</h3>
	<span class="badge badge-danger"
		*ngIf="this.league?.stateId == 1 || this.league?.stateId == 14">{{ this.league?.state }}</span>
	<span class="badge badge-info"
		*ngIf="this.league?.stateId == 2 || this.league?.stateId == 6">{{ this.league?.state }}</span>
	<span class="badge badge-success"
		*ngIf="this.league?.stateId == 3 || this.league?.stateId == 4 || this.league?.stateId == 5 || this.league?.stateId == 11 || this.league?.stateId == 13 || this.league?.stateId == 14">{{ this.league?.state }}</span>
	<span class="badge badge-primary" *ngIf="this.league?.stateId == 7">{{ this.league?.state }}</span>
	<span class="badge badge-warning"
		*ngIf="this.league?.stateId == 8 || this.league?.stateId == 9 || this.league?.stateId == 15">{{ this.league?.state }}</span>
  <span class="badge badge-secondary" *ngIf="this.league?.stateId == 10">{{ this.league?.state }}</span>
  <span *ngIf="this.league?.stateId >= 6 && this.league?.stateId != 12 && this.league?.stateId != 13 && this.league?.stateId != 14"> - Day #{{ this.league?.day }}</span>
</div>




<div class="box">
	<div class="container">
		<div class="row cards-row">
			<!-- <div class="column left"> -->
				<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
					<div class="card-header"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i><span
							class="header-card ml-3"><strong>LEAGUE</strong></span></div>
					<div class="card-body">
						<p class="card-text">View details about the league, standings, schedules, results, stats &
							transactions.</p>
						<div style="text-align: right;">
							<button type="button" class="btn btn-link text-left" (click)="goToLeague()">Go to League</button>
						</div>
					</div>
				</div>
	
				<!-- To unhide when looking to implement -->
				<!-- <div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
					<div class="card-header"><i class="fa fa-list-ol fa-2x" aria-hidden="true"></i><span
							class="header-card ml-3"><strong>DRAFT</strong></span></div>
					<div class="card-body">
						<p class="card-text">View all information related to the draft. View the Player Pool and Lottery,
							set your auto-draft and draft.</p>
						<div style="text-align: right;">
							<button type="button" class="btn btn-link text-left" (click)="goToDraft()">Go to Draft</button>
						</div>
					</div>
				</div> -->
	
				<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
					<div class="card-header"><i class="fa fa-users fa-2x" aria-hidden="true"></i><span
							class="header-card ml-3"><strong>TEAM</strong></span></div>
					<div class="card-body">
						<p class="card-text">Manage your roster, depth charts, coaching and make trades and free agent
							signings.</p>
						<div style="text-align: right;">
							<button type="button" class="btn btn-link text-left" (click)="goToRoster()">Go to Team</button>
						</div>
					</div>
				</div>

				<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
					<div class="card-header"><i class="fa fa-list-ol fa-2x" aria-hidden="true"></i><span
							class="header-card ml-3"><strong>DRAFT</strong></span></div>
					<div class="card-body">
						<p class="card-text">View all information related to the draft. View the Player Pool and Lottery,
							set your auto-draft and draft.</p>
						<div style="text-align: right;">
							<button type="button" class="btn btn-link text-left" (click)="goToDraft()">Go to Draft</button>
						</div>
					</div>
				</div>
	
				<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
					<div class="card-header"><i class="fa fa-list fa-2x" aria-hidden="true"></i><span
							class="header-card ml-3"><strong>PLAYERS</strong></span></div>
					<div class="card-body">
						<p class="card-text">View all of the Players in league and view their details.</p>
						<div style="text-align: right;">
							<button type="button" class="btn btn-link text-left" (click)="goToPlayers()">View Players</button>
						</div>
					</div>
				</div>
	
				<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
					<div class="card-header"><i class="fa fa-user-secret fa-2x" aria-hidden="true"></i><span
							class="header-card ml-3"><strong>ADMIN</strong></span></div>
					<div class="card-body">
						<p class="card-text">View Administration Functions for the league.</p>
						<div style="text-align: right;">
							<button type="button" class="btn btn-link text-left" (click)="goToAdmin()">Go to Admin</button>
						</div>
						
					</div>
				</div>
			<!-- </div> -->
			<!-- <div class="column right">
				
			</div> -->
		</div>
	</div>
</div>


<div class="box">
	<ngx-spinner [fullScreen]="false" type="pacman" size="medium">
		<p class="loading">Loading Game Data...</p>
	</ngx-spinner>
	<div class="row event-row">
		<div class="col-lg-6 events" *ngIf="this.league?.day != 0">
			<h4>TODAY'S RESULTS</h4>
			<p class="text-success" *ngIf="this.league?.stateId == 1">Awaiting Users to register and fill the league</p>
			<p class="text-success" *ngIf="this.league?.stateId == 2">Initial Draft Lottery</p>
			<p class="text-success" *ngIf="this.league?.stateId == 3 || this.league?.stateId == 4">Initial League Draft
			</p>
			<p class="text-success" *ngIf="this.league?.stateId == 5">Beginning of the Preseason</p>
			<p class="text-success" *ngIf="this.league?.stateId == 6">Preason Day #{{ this.league?.day }}</p>
			<p class="text-success" *ngIf="this.league?.stateId == 7">Regular Season Day #{{ this.league?.day }}</p>
			<p class="text-success" *ngIf="this.league?.stateId == 8">Playoffs - Round 1 Day #{{ this.league?.day }}
			</p>
			<p class="text-success" *ngIf="this.league?.stateId == 9">Playoffs - Conference Semi Finals Day
				#{{ this.league?.day }}</p>
			<p class="text-success" *ngIf="this.league?.stateId == 10">Playoffs - Conference Finals
				#{{ this.league?.day }}</p>
			<p class="text-success" *ngIf="this.league?.stateId == 11">Playoffs - ABA Finals #{{ this.league?.day }}
			</p>
			<p class="text-success" *ngIf="this.league?.stateId == 12">Season End - Stats updates</p>
			<p class="text-success" *ngIf="this.league?.stateId == 13">Draft Lottery</p>
			<p class="text-success" *ngIf="this.league?.stateId == 14">Draft</p>
			<p class="text-success" *ngIf="this.league?.stateId == 15">Free Agency #{{ this.league?.day }}</p>

			<table class="table table-hover events-table" *ngIf="this.league?.stateId == 6 || this.league?.stateId == 7">
				<tbody>
					<tr class="table-secondary" *ngFor="let game of this.todaysGames">
						<td>
							{{ game.awayTeamName }} @ {{ game.homeTeamName }} 
							<button *ngIf="this.isAdmin == 1 && game.completed == 0 && this.league?.stateId == 7 && this.noRun == 0" type="button" class="btn btn-link" (click)="runGameSeason(game)">Run Game</button>
							<button *ngIf="this.isAdmin == 1 && game.completed == 0 && this.league?.stateId == 6 && this.noRun == 0" type="button" class="btn btn-link" (click)="runGame(game)">Run Game</button>
							<button *ngIf="game.completed == 1" type="button" class="btn btn-link" (click)="watchGame(game.id)">Watch</button>
							&nbsp;
							<button *ngIf="game.completed == 1" type="button" class="btn btn-link" (click)="viewBoxScore(game.id)">Box Scores</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-6 events upcoming">
			<!-- <h4>UPCOMING EVENTS</h4>
			<p class="text-success" *ngIf="this.league?.stateId == 1">Awaiting Users to register and fill the league</p>
			<p class="text-success" *ngIf="this.league?.stateId == 2">Initial Draft Lottery</p>
			<p class="text-success" *ngIf="this.league?.stateId == 3 || this.league?.stateId == 4">Initial League Draft
			</p>
			<p class="text-success" *ngIf="this.league?.stateId == 5">Beginning of the Preseason</p>
			<p class="text-success" *ngIf="this.league?.stateId == 6">Preason Day #{{ this.league?.day + 1 }}</p>
			<p class="text-success" *ngIf="this.league?.stateId == 7">Regular Season Day #{{ this.league?.day + 1 }}</p>
			<p class="text-success" *ngIf="this.league?.stateId == 8">Playoffs - Round 1 Day #{{ this.league?.day + 1 }}
			</p>
			<p class="text-success" *ngIf="this.league?.stateId == 9">Playoffs - Conference Semi Finals Day
				#{{ this.league?.day + 1 }}</p>
			<p class="text-success" *ngIf="this.league?.stateId == 10">Playoffs - Conference Finals
				#{{ this.league?.day + 1 }}</p>
			<p class="text-success" *ngIf="this.league?.stateId == 11">Playoffs - ABA Finals #{{ this.league?.day + 1 }}
			</p>
			<p class="text-success" *ngIf="this.league?.stateId == 12">Season End - Stats updates</p>
			<p class="text-success" *ngIf="this.league?.stateId == 13">Draft Lottery</p>
			<p class="text-success" *ngIf="this.league?.stateId == 14">Draft</p>
			<p class="text-success" *ngIf="this.league?.stateId == 15">Free Agency #{{ this.league?.day + 1 }}</p>

			

			<table class="table table-hover events-table" *ngIf="this.league?.stateId == 6 || this.league?.stateId == 7">
				<tbody>
					<tr class="table-secondary" *ngFor="let game of this.upcomingGames">
						<td>{{ game.awayTeamName }} @ {{ game.homeTeamName }}</td>
					</tr>
				</tbody>
			</table> -->
			<carousel *ngIf="this.league.day != 0 && this.league.stateId == 7">
				<slide class="slideclass center-block">
				  <div class="text-center py-5 bg-dark text-white">
					<h4>Points League Leaders</h4>
					<div class="lead">
						<div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7 && this.topFivePoints?.length != 0)">
							<table class="table-secondary">
								<thead>
									<tr>
									  <th>Rank</th>
									  <th>Player</th>
									  <th>Team</th>
									  <th>PPG</th>
									  <th></th>
									</tr>
								</thead>
								<tr *ngFor="let player of this.topFivePoints; let i = index">
									<td>{{ i + 1 }}</td>
									<td>{{ player.playerName }}</td>
									<td>{{ player.teamShortCode }}</td>
									<td>{{ (player.points / player.gamesPlayed).toFixed(1) }}</td>
									<td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
										  class="glyphicon glyphicon-edit"></span> View</button></td>
								</tr>
							</table>
						</div>
					</div>
					<button class="btn btn-link" (click)="goToStats(1)">More</button>
				  </div>
				</slide>
				<slide>
					<div class="text-center py-5 bg-dark text-white">
					  <h3>Rebounding League Leaders</h3>
					  <div class="lead">
						  <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7 && this.topFiveRebounds?.length != 0)">
							  <table class="table-secondary">
								  <thead>
									  <tr>
										<th>Rank</th>
										<th>Player</th>
										<th>Team</th>
										<th>RPG</th>
										<th></th>
									  </tr>
								  </thead>
								  <tr *ngFor="let player of this.topFiveRebounds; let i = index">
									  <td>{{ i + 1 }}</td>
									  <td>{{ player.playerName }}</td>
									  <td>{{ player.teamShortCode }}</td>
									  <td>{{ (player.rebounds / player.gamesPlayed).toFixed(1) }}</td>
									  <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
											class="glyphicon glyphicon-edit"></span> View</button></td>
								  </tr>
							  </table>
						  </div>
					  </div>
					  <button class="btn btn-link" (click)="goToStats(2)">More</button>
					</div>
				  </slide>
				  <slide>
					<div class="text-center py-5 bg-dark text-white">
					  <h3>Assists League Leaders</h3>
					  <div class="lead">
						  <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7 && this.topFiveAssists?.length != 0)">
							  <table class="table-secondary">
								  <thead>
									  <tr>
										<th>Rank</th>
										<th>Player</th>
										<th>Team</th>
										<th>APG</th>
										<th></th>
									  </tr>
								  </thead>
								  <tr *ngFor="let player of this.topFiveAssists; let i = index">
									  <td>{{ i + 1 }}</td>
									  <td>{{ player.playerName }}</td>
									  <td>{{ player.teamShortCode }}</td>
									  <td>{{ (player.assists / player.gamesPlayed).toFixed(1) }}</td>
									  <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
											class="glyphicon glyphicon-edit"></span> View</button></td>
								  </tr>
							  </table>
						  </div>
					  </div>
					  <button class="btn btn-link" (click)="goToStats(3)">More</button>
					</div>
				  </slide>
				  <slide>
					<div class="text-center py-5 bg-dark text-white">
					  <h3>Steals League Leaders</h3>
					  <div class="lead">
						  <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7 && this.topFiveSteals?.length != 0)">
							  <table class="table-secondary">
								  <thead>
									  <tr>
										<th>Rank</th>
										<th>Player</th>
										<th>Team</th>
										<th>SPG</th>
										<th></th>
									  </tr>
								  </thead>
								  <tr *ngFor="let player of this.topFiveSteals; let i = index">
									  <td>{{ i + 1 }}</td>
									  <td>{{ player.playerName }}</td>
									  <td>{{ player.teamShortCode }}</td>
									  <td>{{ (player.steals / player.gamesPlayed).toFixed(1) }}</td>
									  <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
											class="glyphicon glyphicon-edit"></span> View</button></td>
								  </tr>
							  </table>
						  </div>
					  </div>
					  <button class="btn btn-link" (click)="goToStats(4)">More</button>
					</div>
				  </slide>
				  <slide>
					<div class="text-center py-5 bg-dark text-white">
					  <h3>Blocks League Leaders</h3>
					  <div class="lead">
						  <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7 && this.topFiveBlocks?.length != 0)">
							  <table class="table-secondary">
								  <thead>
									  <tr>
										<th>Rank</th>
										<th>Player</th>
										<th>Team</th>
										<th>BPG</th>
										<th></th>
									  </tr>
								  </thead>
								  <tr *ngFor="let player of this.topFiveBlocks; let i = index">
									  <td>{{ i + 1 }}</td>
									  <td>{{ player.playerName }}</td>
									  <td>{{ player.teamShortCode }}</td>
									  <td>{{ (player.blocks / player.gamesPlayed).toFixed(1) }}</td>
									  <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
											class="glyphicon glyphicon-edit"></span> View</button></td>
								  </tr>
							  </table>
						  </div>
					  </div>
					  <button class="btn btn-link" (click)="goToStats(5)">More</button>
					</div>
				  </slide>
			  </carousel>
		</div>
	</div>
</div>






<!-- 
<div class="box">
	<div class="row">
			<div class="container">
				 <div class="row">						
						 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					   
							<div class="box-part text-center">
								<i class="fa fa-list fa-3x" aria-hidden="true"></i>
							
								<div class="title">
									<h4>Players</h4>
								</div>
								
								<div class="text">
									<span></span>
								</div>
								
								<a (click)="goToPlayers()">View Players</a>
								
							 </div>
						</div>	 	 
						
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="this.league?.stateId > 3">
					   
							<div class="box-part text-center">
								
								<i class="fa fa-signal fa-3x" aria-hidden="true"></i>
								
								<div class="title">
									<h4>Stats</h4>
								</div>
								
								<div class="text">
									<span>View all stats for the current season - Leaders, Players and Team stats.</span>
								</div>
								
								<a (click)="goToStats()">View Stats</a>
								
							 </div>
						</div>	 
						
						 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="this.league?.stateId > 3">
					   
							<div class="box-part text-center">
								
								<i class="fa fa-list-ol fa-3x" aria-hidden="true"></i>
							
								<div class="title">
									<h4>Standings</h4>
								</div>
								
								<div class="text">
									<span>View the current seasons league standings.</span>
								</div>
								
								<a (click)="goToStandings()">View Standings</a>
								
							 </div>
						</div>	 
						
						
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="this.league?.stateId > 3">
					   
							<div class="box-part text-center">
								
								<i class="fa fa-credit-card fa-3x" aria-hidden="true"></i>
								
								<div class="title">
									<h4>Finances</h4>
								</div>
								
								<div class="text">
									<span>View Team Finances, including budget, player contracts and managing contract extensions.</span>
								</div>
								
								<a (click)="goToFinances()">View Team Finances</a>
								
							 </div>
						</div>				
				</div>		
			</div>
	</div>
</div>
 -->