.jumbotron {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.cards-row {
    padding: 5px;
    display: flex;
    justify-content: center;
}

button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #03fca1;
    text-decoration: underline;
    cursor: pointer;
  }