<section class="dashboard-area">
	<h3 class="display">Retired Players</h3>
</section>


<div class="row ml-2 mr-2 textdesc">
	<p>The following table provides a list of all players who have retired in the Sim.</p>
</div>

<div class="box">
	<ngx-spinner [fullScreen]="false" type="ball-spin-fade" size="medium">
		<p class="loading">Loading Retired Players...</p>
	</ngx-spinner>

	<div class="row table-row text-center ml-2 mr-2">
		<table class="table table-striped custab">
			<thead>
				<tr>
					<th>Name</th>
					<th>Season Retired</th>
					<th></th>
				</tr>
			</thead>
			<tr *ngFor="let rp of this.allPlayers">
				<td>
					{{ rp.name }}
				</td>
				<td>
					{{ rp.year }}
				</td>
				<td class="text-center">
					<button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(rp)"> View</button>
				</td>
			</tr>
		</table>
	</div>
</div>