<div class="box">
	<div class="container">
		<div class="row">
			<div class="card col-4 mt-3">
				<div>
					<div class="mb-2">
						<h5 class="card-title">Remove Team Rego</h5>
						<p class="card-text">Remove Team Registration</p>
						<button role="button" class="btn btn-primary" (click)="openModal(removeRego)">View Teams</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<ng-template #removeRego>
	<div class="modal-header">
	  <h4 class="modal-title">Remove Team Registration</h4>
	  <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
	</div>
	<form #leagueStatusForm (ngSubmit)="removeTeamRegistration()">
		<div class="modal-body">
			<div class="form-group">
				<label class="col-md-6 control-label" for="textinput">Select Team to De-register</label>
				<br />
				<label class="col-md-6 control-label" for="textinput">Teams: </label>
				<span>
					<select name="leagueStatus" [(ngModel)]="this.teamSelected">
					  <option *ngFor="let team of this.teams" [value]="team.id">{{ team.teamname }} {{ team.mascot }}</option>
					</select>
				  </span>
			</div>
		</div>
		<div class="modal-footer form-group text-center">
			<button type="submit" class="btn btn-primary">Select</button>
			<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
		  </div>
	</form>
</ng-template>  