.dashboard-area {
    position: relative;
    text-align: center;
    background: #202120;
    overflow: hidden;
}
.dashboard-area h3, span {
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #ffffff;
}
.table-row, box {
    padding: 10px;
    text-align: center;
    position: relative;
}
.textdesc p {
    padding: 10px;
    width: 100%;
    text-align: center;
    position: relative;
}