.dashboard-area {
    position: relative;
    text-align: center;
    background: #202120;
    overflow: hidden;
}
.dashboard-area h3, span {
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #ffffff;
}

.statstext {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.cards-row {
    padding: 5px;
    display: flex;
    justify-content: center;
}