<div class="jumbotron">
  <h3 class="display">STATISTICS</h3>
</div>

<div class="box">
  <div class="container">
    <ngx-spinner [fullScreen]="false" type="pacman" size="medium">
      <p class="loading">Loading Stats...</p>
    </ngx-spinner>

    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.pointsSelection ? 'active' : ''"
              (click)="pointsClick()">Points</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.assistsSelection ? 'active' : ''"
              (click)="assistsClick()">Assists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.reboundsSelection ? 'active' : ''"
              (click)="reboundsClick()">Rebounds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.stealsSelection ? 'active' : ''"
              (click)="stealsClick()">Steals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.blocksSelection ? 'active' : ''"
              (click)="blocksClick()">Blocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.minutesSelection ? 'active' : ''"
              (click)="minutesClick()">Minutes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.foulsSelection ? 'active' : ''"
              (click)="foulsClick()">Fouls</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.turnoversSelection ? 'active' : ''"
              (click)="turnoversClick()">Turnovers</a>
          </li>
        </ul>

        <br />
        <div class="row statstext"
          *ngIf="(this.league?.day == 0 && (this.league?.stateId == 6 || this.league?.stateId == 7))">
          <h5>Stats are not yet available.</h5>
        </div>
        <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7)">
          <table *ngIf="this.pointsStats?.length != 0 && this.pointsSelection" class="table table-striped custab">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Team</th>
                <th>Points Per Game</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let player of this.pointsStats; let i = index">
              <td>{{ (this.pager * 25 - 25) + i + 1 }}</td>
              <td>{{ player.playerName }}</td>
              <td>{{ player.teamShortCode }}</td>
              <td>{{ (player.points / player.gamesPlayed).toFixed(2) }}</td>
              <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                    class="glyphicon glyphicon-edit"></span> View</button></td>
            </tr>
          </table>

          <table *ngIf="this.assistsStats?.length != 0 && this.assistsSelection" class="table table-striped custab">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Team</th>
                <th>Assists Per Game</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let player of this.assistsStats; let i = index">
              <td>{{ (this.pager * 25 - 25) + i + 1 }}</td>
              <td>{{ player.playerName }}</td>
              <td>{{ player.teamShortCode }}</td>
              <td>{{ (player.assists / player.gamesPlayed).toFixed(2) }}</td>
              <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                    class="glyphicon glyphicon-edit"></span> View</button></td>
            </tr>
          </table>

          <table *ngIf="this.reboundStats?.length != 0 && this.reboundsSelection" class="table table-striped custab">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Team</th>
                <th>Rebounds Per Game</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let player of this.reboundStats; let i = index">
              <td>{{ (this.pager * 25 - 25) + i + 1 }}</td>
              <td>{{ player.playerName }}</td>
              <td>{{ player.teamShortCode }}</td>
              <td>{{ (player.rebounds / player.gamesPlayed).toFixed(2) }}</td>
              <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                    class="glyphicon glyphicon-edit"></span> View</button></td>
            </tr>
          </table>

          <table *ngIf="this.blocksStats?.length != 0 && this.blocksSelection" class="table table-striped custab">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Team</th>
                <th>Blocks Per Game</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let player of this.blocksStats; let i = index">
              <td>{{ (this.pager * 25 - 25) + i + 1 }}</td>
              <td>{{ player.playerName }}</td>
              <td>{{ player.teamShortCode }}</td>
              <td>{{ (player.blocks / player.gamesPlayed).toFixed(2) }}</td>
              <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                    class="glyphicon glyphicon-edit"></span> View</button></td>
            </tr>
          </table>

          <table *ngIf="this.stealsStats?.length != 0 && this.stealsSelection" class="table table-striped custab">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Team</th>
                <th>Steals Per Game</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let player of this.stealsStats; let i = index">
              <td>{{ (this.pager * 25 - 25) + i + 1 }}</td>
              <td>{{ player.playerName }}</td>
              <td>{{ player.teamShortCode }}</td>
              <td>{{ (player.steals / player.gamesPlayed).toFixed(2) }}</td>
              <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                    class="glyphicon glyphicon-edit"></span> View</button></td>
            </tr>
          </table>

          <table *ngIf="this.turnoversStats?.length != 0 && this.turnoversSelection" class="table table-striped custab">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Team</th>
                <th>Turnovers Per Game</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let player of this.turnoversStats; let i = index">
              <td>{{ (this.pager * 25 - 25) + i + 1 }}</td>
              <td>{{ player.playerName }}</td>
              <td>{{ player.teamShortCode }}</td>
              <td>{{ (player.turnovers / player.gamesPlayed).toFixed(2) }}</td>
              <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                    class="glyphicon glyphicon-edit"></span> View</button></td>
            </tr>
          </table>

          <table *ngIf="this.foulsStats?.length != 0 && this.foulsSelection" class="table table-striped custab">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Team</th>
                <th>Fouls Per Game</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let player of this.foulsStats; let i = index">
              <td>{{ (this.pager * 25 - 25) + i + 1 }}</td>
              <td>{{ player.playerName }}</td>
              <td>{{ player.teamShortCode }}</td>
              <td>{{ (player.fouls / player.gamesPlayed).toFixed(2) }}</td>
              <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                    class="glyphicon glyphicon-edit"></span> View</button></td>
            </tr>
          </table>

          <table *ngIf="this.minutesStats?.length != 0 && this.minutesSelection" class="table table-striped custab">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Team</th>
                <th>Minutes Per Game</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let player of this.minutesStats; let i = index">
              <td>{{ (this.pager * 25 - 25) + i + 1 }}</td>
              <td>{{ player.playerName }}</td>
              <td>{{ player.teamShortCode }}</td>
              <td>{{ ((player.minutes / player.gamesPlayed) / 60).toFixed(2) }}</td>
              <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                    class="glyphicon glyphicon-edit"></span> View</button></td>
            </tr>
          </table>

          <br />
          <div class="row">
            <div class="col colleft">
              <button type="button" class="btn btn-primary" *ngIf="this.pager != 1" (click)="this.pagerPrev()">PREVIOUS</button>
            </div>
            <div class="col colright">
              <button type="button" class="btn btn-primary" (click)="this.pagerNext()">NEXT</button>
            </div>
          </div>
        </div>
        <!-- <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.scoringSelection ? 'active' : ''"
              (click)="this.scoringClick()">Scoring & Passing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.reboundingSelection ? 'active' : ''"
              (click)="this.reboundingClick()">Rebounding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.defenceSelection ? 'active' : ''"
              (click)="this.defenceClick()">Defence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.shootingSelection ? 'active' : ''"
              (click)="this.shootingClick()">Shooting %'s</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" [ngClass]="this.otherSelection ? 'active' : ''"
              (click)="this.otherClick()">Other</a>
          </li>
        </ul>

        <br /> -->

        <!-- <div class="col-12" *ngIf="this.scoringSelection">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.pointsSelection ? 'active' : ''"
                (click)="pointsClick()">Points</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.assistsSelection ? 'active' : ''"
                (click)="assistsClick()">Assists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.fgmSelection ? 'active' : ''"
                (click)="fgmClick()">FGM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.fgaSelection ? 'active' : ''"
                (click)="fgaClick()">FGA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.threefgmSelection ? 'active' : ''"
                (click)="threefgmClick()">3FGM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.threefmaselection ? 'active' : ''"
                (click)="threefgaClick()">3FGA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.ftmSelection ? 'active' : ''"
                (click)="ftmClick()">FTM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.ftaSelection ? 'active' : ''"
                (click)="ftaClick()">FTA</a>
            </li>
          </ul>
          <br />
          <div class="row statstext"
            *ngIf="(this.league?.day == 0 && (this.league?.stateId == 6 || this.league?.stateId == 7))">
            <h5>Stats are not yet available.</h5>
          </div>
          <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7)">
            <table *ngIf="this.pointsStats?.length != 0 && this.pointsSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Points Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.pointsStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.points / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.assistStats?.length != 0 && this.assistsSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Assists Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.assistStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.assists / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.fgmStats?.length != 0 && this.fgmSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Field Goals Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.fgmStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.fgm / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.fgaStats?.length != 0 && this.fgaSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Field Goals Attempted Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.fgaStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.fga / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.ftmStats?.length != 0 && this.ftmSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Field Throws Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.ftmStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.ftm / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.ftaStats?.length != 0 && this.ftaSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Field Throws Attempted Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.ftaStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.fta / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.threefgmStats?.length != 0 && this.threefgmSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>3pt Field Goals Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.threefgmStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.threeFgm / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.threefgaStats?.length != 0 && this.threefmaselection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>3pt Field Goals Attempted Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.threefgaStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.threeFga / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-12" *ngIf="this.reboundingSelection">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.totalRebSelection ? 'active' : ''"
                (click)="totelRebClick()">Total Rebounds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.oRebSelection ? 'active' : ''"
                (click)="oRebClick()">Offensive Rebounds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.dRebSelection ? 'active' : ''"
                (click)="dRebClick()">Defensive Rebounds</a>
            </li>
          </ul>
          <br />
          <div class="row statstext" *ngIf="(this.league?.day == 0 && (this.league?.stateId == 6 || this.league?.stateId == 7))">
            <h5>Stats are not yet available.</h5>
          </div>
          <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7)">
            <table *ngIf="this.drebStats ?.length != 0 && this.dRebSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Defensive Rebounds Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.drebStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.defensiveRebounds / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.orebsStats ?.length != 0 && this.oRebSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>OFfensive Rebounds Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.orebsStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.offensiveRebounds / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.totalRebsStats ?.length != 0 && this.totalRebSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Total Rebounds Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.totalRebsStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.totalRebounds / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-12" *ngIf="this.defenceSelection">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.stealsSelection ? 'active' : ''"
                (click)="stealsClick()">Steals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.blocksSelection ? 'active' : ''"
                (click)="blocksClick()">Blocks</a>
            </li>
          </ul>
          <br />
          <div class="row statstext" *ngIf="(this.league?.day == 0 && (this.league?.stateId == 6 || this.league?.stateId == 7))">
            <h5>Stats are not yet available.</h5>
          </div>
          <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7)">
            <table *ngIf="this.stealsStats ?.length != 0 && this.stealsSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Steals Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.stealsStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.steal / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.blocksStats ?.length != 0 && this.blocksSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Blocks Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.blocksStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.block / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-12" *ngIf="this.shootingSelection">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.fgpSelection ? 'active' : ''"
                (click)="fgpClick()">FG%</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.threefgpSelection ? 'active' : ''"
                (click)="threepClick()">3FG%</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.ftpSelection ? 'active' : ''"
                (click)="ftpClick()">FT%</a>
            </li>
          </ul>
          <br />
          <div class="row statstext" *ngIf="(this.league?.day == 0 && (this.league?.stateId == 6 || this.league?.stateId == 7))">
            <h5>Stats are not yet available.</h5>
          </div>
          <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7)">
            <table *ngIf="this.twoperc ?.length != 0 && this.fgpSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Fielg Goal %</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.twoperc">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.fgm / player.fga).toFixed(3) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.threeperc ?.length != 0 && this.threefgpSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>3pt Fielg Goal %</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.twoperc">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.threeFgm / player.threeFga).toFixed(3) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.ftperc ?.length != 0 && this.ftpSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Free Throw %</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.ftperc">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.ftm / player.fta).toFixed(3) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-12" *ngIf="this.otherSelection">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.turnoversSelection ? 'active' : ''"
                (click)="turnoverClick()">Turnovers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.foulsSelection ? 'active' : ''"
                (click)="foulsClick()">Fouls</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" [ngClass]="this.minuteSelection ? 'active' : ''"
                (click)="mintuesClick()">Minutes</a>
            </li>
          </ul>
          <br />
          <div class="row statstext" *ngIf="(this.league?.day == 0 && (this.league?.stateId == 6 || this.league?.stateId == 7))">
            <h5>Stats are not yet available.</h5>
          </div>
          <div class="row stats" *ngIf="(this.league?.day > 0 && this.league?.stateId == 7)">
            <table *ngIf="this.turnoverStats ?.length != 0 && this.turnoversSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Turnovers Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.turnoverStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.turnovers / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.foulStats ?.length != 0 && this.foulsSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Fouls Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.turnoverStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ (player.fouls / player.gamesPlayed).toFixed(2) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>

            <table *ngIf="this.minutesStats ?.length != 0 && this.minuteSelection" class="table table-striped custab">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th>Minutes Per Game</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let player of this.minutesStats">
                <td></td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.teamShortCode }}</td>
                <td>{{ ((player.minutes / player.gamesPlayed) / 60).toFixed(0) }}: {{ ((player.minutes / player.gamesPlayed) % 60).toFixed(0) }}</td>
                <td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><span
                      class="glyphicon glyphicon-edit"></span> View</button></td>
              </tr>
            </table>
          </div>
        </div> -->


      </div>
    </div>
  </div>
</div>