<section class="dashboard-area">
	<h3 class="display">Free Agents</h3>
	<p>Current Salary - ${{ this.capInfo?.currentSalaryAmount | number }}</p>
	<p>League Salary Cap - ${{ this.capInfo?.salaryCapAmount | number }}</p>
	<p>Cap Space Remaining - ${{ this.availableCapSpace | number }}</p>
</section>

<section *ngIf="this.league?.stateId > 5">
<div class="row ml-2 mr-2 textdesc">
	<p>The following is a list of all the players who are available as free agents. You can sign players, but can only
		have a maximum of 15 players on your roster at any time. Any offers made will go against your slary cap as a cap hold.</p>
</div>

<div class="row ml-5 mr-5">
	<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;" *ngFor="let co of this.contractOffers">
		<div class="card-header"><i class="fa fa-question-circle fa-2x"></i><span
				class="header-card ml-3"><strong>Contract Offer</strong></span></div>
		<div class="card-body">
			<h5 class="card-text">{{ co.playerName }}</h5>
			<p>{{ this.GetContractYears(co) }} years, ${{ co.yearOne + co.yearTwo + co.yearThree + co.yearFour + co.yearFive  | number }} total value</p>
			<div style="text-align: right;">
				<button type="button" class="btn btn-link text-left" (click)="openViewModal(viewoffer, co)">View</button>
			</div>
		</div>
	</div>
</div>

<div class="box">
	<ngx-spinner [fullScreen]="true" type="ball-spin-fade" size="medium">
		<p class="loading">Loading Free Agents...</p>
	</ngx-spinner>

	<div class="row table-row text-center ml-2 mr-2" *ngIf="this.freeAgents?.length != 0">
		<form id="filter_form" class="btn-group" [formGroup]="searchForm">
			<input type="text" id="filter_keywords" name="filter_keywords" placeholder="Filter by name"
				formControlName="filter" />
			<input class="btn btn-default" type="submit" id="filter_submit" name="filter_submit" value="Go"
				(click)="filterTable()" />
			<input class="btn btn-default" type="reset" id="filter_reset" name="filter_reset" value="Reset"
				(click)="resetFilter()" />
		</form>
		<div class="btn-group" role="group" aria-label="First group">
			<span class="filtertitle mr-1 ml-2">Filter by Position:</span>
			<button type="button" class="btn btn-default" [ngClass]="{'fill-data-btn': this.positionFilter == 1 }"
				(click)="filterByPos(1)">PG</button>
			<button type="button" class="btn btn-default" [ngClass]="{'fill-data-btn': this.positionFilter == 2 }"
				(click)="filterByPos(2)">SG</button>
			<button type="button" class="btn btn-default" [ngClass]="{'fill-data-btn': this.positionFilter == 3 }"
				(click)="filterByPos(3)">SF</button>
			<button type="button" class="btn btn-default" [ngClass]="{'fill-data-btn': this.positionFilter == 4 }"
				(click)="filterByPos(4)">PF</button>
			<button type="button" class="btn btn-default" [ngClass]="{'fill-data-btn': this.positionFilter == 5 }"
				(click)="filterByPos(5)">C</button>
			<button type="button" class="btn btn-default" [ngClass]="{'fill-data-btn': this.positionFilter == 0 }"
				(click)="filterByPos(0)">ALL</button>
		</div>
	</div>

	<div class="row table-row text-center ml-2 mr-2">
		<table *ngIf="this.freeAgents?.length != 0" class="table table-striped custab">
			<thead>
				<tr>
					<th>Name</th>
					<th>Position</th>
					<th>Age</th>
					<th></th>
				</tr>
			</thead>
			<tr *ngFor="let player of this.freeAgents">
				<td>
					{{ player.firstName }} {{ player.surname }} <span *ngIf="checkIfInjured(player.id) == 1"><i
							class="fa fa-medkit fa-2x"></i></span>
				</td>
				<td>
					<ng-container *ngIf="player.pgPosition == 1">PG </ng-container>
					<ng-container *ngIf="player.sgPosition == 1">SG </ng-container>
					<ng-container *ngIf="player.sfPosition == 1">SF </ng-container>
					<ng-container *ngIf="player.pfPosition == 1">PF </ng-container>
					<ng-container *ngIf="player.cPosition == 1">C </ng-container>
				</td>
				<td>{{ player.age }}</td>
				<td class="text-center">
					<button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player)"> View</button>
					<button class="btn btn-success btn-xs tablebutton" (click)="openModal(sign, player)"
						*ngIf="this.rosterSpotAvailable == true">Sign</button>
					<label class="ml-3" *ngIf="!this.rosterSpotAvailable">No Roster Spots Available</label>
				</td>
			</tr>
		</table>
	</div>
</div>
<div *ngIf="this.freeAgents.length == 0">
	There are no players left in the free agent pool
</div>
</section>

<section *ngIf="this.league?.stateId < 6">
	Free agents are not able to be signed at this time.
</section>




<!-- SIGN MODAL -->
<ng-template #sign>
	<div class="modal-header">
		<h5 class="modal-title">Sign Player - {{ this.selectedPlayer?.firstName }} {{ this.selectedPlayer?.surname }}</h5>
		<button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
	</div>
	<form #draftlotteryForm>
		<div class="modal-body">
			<div class="row">
				<div class="col">
					<label>Number of Years</label>
				</div>
				<div class="col">
					<select [formControl]="selectControl"  [(ngModel)]="this.contractYears" (change)="yearsChanged()">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="col">

				</div>
			</div>
			<div class="row" *ngIf="this.contractYears >= 1">
				<div class="col">
					<label>Year 1 Amount</label>
				</div>
				<div class="col">
					<input name="year1Amount" type="text" [(ngModel)]="year1Amount" required>
				</div>
				<div class="col ml-3">
					<label>Guarenteed </label>
					<input name="year1G" class="ml-2" [disabled]="true" type="checkbox" checked="guarenteed1.true">
				</div>
			</div>
			<div class="row" *ngIf="this.contractYears >= 2">
				<div class="col">
					<label>Year 2 Amount</label>
				</div>
				<div class="col">
					<input name="year2Amount" type="text" [(ngModel)]="year2Amount" required>
				</div>
				<div class="col ml-3">
					<label>Guarenteed </label>
					<input class="ml-2" name="year2G" type="checkbox" checked="guarenteed2.true">
				</div>
			</div>
			<div class="row" *ngIf="this.contractYears >= 3">
				<div class="col">
					<label>Year 3 Amount</label>
				</div>
				<div class="col">
					<input type="text" name="year3Amount" [(ngModel)]="year3Amount" required>
				</div>
				<div class="col ml-3">
					<label>Guarenteed </label>
					<input class="ml-2" name="year3G" type="checkbox" checked="guarenteed3.true">
				</div>
			</div>
			<div class="row" *ngIf="this.contractYears >= 4" >
				<div class="col">
					<label>Year 4 Amount</label>
				</div>
				<div class="col">
					<input type="text" name="year4Amount" [(ngModel)]="year4Amount" required>
				</div>
				<div class="col ml-3">
					<label>Guarenteed </label>
					<input class="ml-2" type="checkbox" name="year4G" checked="guarenteed4.true">
				</div>
			</div>
			<div class="row" *ngIf="this.contractYears >= 5">
				<div class="col">
					<label>Year 5 Amount</label>
				</div>
				<div class="col">
					<input type="text" [(ngModel)]="year5Amount" name="year5Amount" required>
				</div>
				<div class="col ml-3">
					<label>Guarenteed </label>
					<input class="ml-2" type="checkbox" name="year5G" checked="guarenteed5.true">
				</div>
			</div>
			<div class="row mt-2">
				<div class="col">
					<label>Option</label>
				</div>
				<div class="col">
					<select [(ngModel)]="this.option">
						<option value="0">No option</option>
						<option value="1">Team option</option>
						<option value="2">Player option</option>
					</select>
				</div>
				<div class="col">
					
				</div>
			</div>
			<div class="row">
				<p>Note: Team or player option will guarentee all other years of contract</p>
			</div>
		</div>
		<div class="modal-footer form-group text-center">
			<!-- <button type="submit" class="btn" (click)="minAmount()">Min</button> -->
			<!-- <button type="submit" class="btn" (click)="maxAmount()">Max</button> -->
			<button type="submit" class="btn btn-success" (click)="offerContract()">Make Offer</button>
			<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
		</div>
	</form>
</ng-template>


<!-- VIEW OFFER MODAL -->
<ng-template #viewoffer>
	<div class="modal-header">
		<h5 class="modal-title">Contract Offer - {{ this.viewedOffer.playerName }}</h5>
		<button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col">
				<label>Number of Years</label>
			</div>
			<div class="col">
				<label>{{ this.GetContractYears(this.viewedOffer) }} years</label>
			</div>
			<div class="col">

			</div>
		</div>
		<div class="row">
			<div class="col">
				<label>Year 1 Amount</label>
			</div>
			<div class="col">
				<label>${{ this.viewedOffer.yearOne | number }}</label>
			</div>
			<div class="col ml-3">
				<label>Guarenteed </label>
				<input name="year1G" class="ml-2" [disabled]="true" type="checkbox" checked="this.viewedOffer.guarenteed1 == 1">
			</div>
		</div>
		<div class="row" *ngIf="this.contractYears >= 2">
			<div class="col">
				<label>Year 2 Amount</label>
			</div>
			<div class="col">
				<label>${{ this.viewedOffer.yearTwo | number }}</label>
			</div>
			<div class="col ml-3">
				<label>Guarenteed </label>
				<input class="ml-2" name="year2G" type="checkbox" checked="this.viewedOffer.guarenteed2 == 1">
			</div>
		</div>
		<div class="row" *ngIf="this.contractYears >= 3">
			<div class="col">
				<label>Year 3 Amount</label>
			</div>
			<div class="col">
				<label>${{ this.viewedOffer.yearThree | number }}</label>
			</div>
			<div class="col ml-3">
				<label>Guarenteed </label>
				<input class="ml-2" name="year3G" type="checkbox" checked="this.viewedOffer.guarenteed3 == 1">
			</div>
		</div>
		<div class="row" *ngIf="this.contractYears >= 4" >
			<div class="col">
				<label>Year 4 Amount</label>
			</div>
			<div class="col">
				<label>${{ this.viewedOffer.yearFour | number }}</label>
			</div>
			<div class="col ml-3">
				<label>Guarenteed </label>
				<input class="ml-2" type="checkbox" name="year4G" checked="this.viewedOffer.guarenteed4 == 1">
			</div>
		</div>
		<div class="row" *ngIf="this.contractYears >= 5">
			<div class="col">
				<label>Year 5 Amount</label>
			</div>
			<div class="col">
				<label>${{ this.viewedOffer.yearFive | number }}</label>
			</div>
			<div class="col ml-3">
				<label>Guarenteed </label>
				<input class="ml-2" type="checkbox" name="year5G" checked="this.viewedOffer.guarenteed5 == 1">
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
				<label>Option </label>
			</div>
			<div class="col" *ngIf="this.viewedOffer.playerOption == 1">
				<label>Player</label>
			</div>
			<div class="col" *ngIf="this.viewedOffer.teamOption == 1">
				<label>Team</label>
			</div>
			<div class="col" *ngIf="this.viewedOffer.playerOption == 0 && this.viewedOffer.teamOption == 0">
				<label>None</label>
			</div>
			<div class="col">
				
			</div>
		</div>
		<div class="row">
			<p>Note: Team or player option will guarentee all other years of contract</p>
		</div>
	</div>
	<div class="modal-footer form-group text-center">
		<button type="submit" class="btn btn-danger" (click)="cancelContract()">Cancel Offer</button>
		<button type="button" class="btn btn-success" (click)="modalRef.hide()">Close</button>
	</div>
</ng-template>