<div class="jumbotron">
	<h3 class="display">ADMIN</h3>
	<span class="badge badge-danger"
		*ngIf="this.league?.stateId == 1 || this.league?.stateId == 14">{{ this.league?.state }}</span>
	<span class="badge badge-info"
		*ngIf="this.league?.stateId == 2 || this.league?.stateId == 6">{{ this.league?.state }}</span>
	<span class="badge badge-success"
		*ngIf="this.league?.stateId == 3 || this.league?.stateId == 4 || this.league?.stateId == 5 || this.league?.stateId == 11 || this.league?.stateId == 13 || this.league?.stateId == 14">{{ this.league?.state }}</span>
	<span class="badge badge-primary" *ngIf="this.league?.stateId == 7">{{ this.league?.state }}</span>
	<span class="badge badge-warning"
		*ngIf="this.league?.stateId == 8 || this.league?.stateId == 9 || this.league?.stateId == 15">{{ this.league?.state }}</span>
	<span class="badge badge-secondary" *ngIf="this.league?.stateId == 10">{{ this.league?.state }}</span>
	<span
		*ngIf="this.league?.stateId >= 6 && this.league?.stateId != 12 && this.league?.stateId != 13 && this.league?.stateId != 14">
		- Day #{{ this.league?.day }}</span>
</div>

<br />

<div class="box">
	<div class="container">
		<div class="row cards-row">
			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
				<div class="card-header"><i class="fa fa-question-circle fa-2x"></i><span
						class="header-card ml-3"><strong>LEAGUE STATUS</strong></span></div>
				<div class="card-body">
					<p class="card-text">Change League Status the League. Transition from one state to the next.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="openModal(status, 0)">League
							Status</button>
					</div>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
				<div class="card-header"><i class="fa fa-user-times fa-2x"></i><span
						class="header-card ml-3"><strong>REMOVE TEAM REGISTRATION</strong></span></div>
				<div class="card-body">
					<p class="card-text">Remove the registration of an existing user and opening up a free slot.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="openModal(removeRego, 1)">Remove
							User</button>
					</div>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
				<div class="card-header"><i class="fa fa-play-circle fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>Test Game Engine</strong></span></div>
				<div class="card-body">
					<p class="card-text">Run the game engine and test various games. A one off game.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="runEngine()">Run Engine</button>
					</div>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
				<div class="card-header"><i class="fa fa-gamepad fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>Roll Over Day</strong></span></div>
				<div class="card-body">
					<p class="card-text">Complete the day, save games and stats and move to the next day.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="openModal(rollover, 2)">Rollover</button>
					</div>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
				<div class="card-header"><i class="fa fa-exchange fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>Change Day</strong></span></div>
				<div class="card-body">
					<p class="card-text">Change the day if required. Should be used sparingly.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="openModal(changeday, 3)">Change Day</button>
					</div>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;" *ngIf="this.league?.stateId == 2">
				<div class="card-header"><i class="fa fa-exchange fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>Run Initial Lottery</strong></span></div>
				<div class="card-body">
					<p class="card-text">Run the Initial Draft Lottery.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="openModal(runLottery, 4)">Run Lottery</button>
					</div>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;" *ngIf="this.league?.stateId == 7 && this.league?.day >= 160">
				<div class="card-header"><i class="fa fa-exchange fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>Begin Playoffs</strong></span></div>
				<div class="card-body">
					<p class="card-text">Setup the playoffs and move the league into the Playoffs state.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="openModal(beginplayoffs, 5)">Begin Playoffs</button>
					</div>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;" *ngIf="this.league?.stateId == 9 && this.league?.day >= 7">
				<div class="card-header"><i class="fa fa-exchange fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>Begin Conferecene Finals</strong></span></div>
				<div class="card-body">
					<p class="card-text">Setup the playoffs and move the league into the Conference Finals state.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="openModal(beginconffinals, 5)">Begin Conf Finals</button>
					</div>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;" *ngIf="this.league?.stateId == 10 && this.league?.day >= 7">
				<div class="card-header"><i class="fa fa-exchange fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>Begin Finals</strong></span></div>
				<div class="card-body">
					<p class="card-text">Setup the playoffs and move the league into the Finals state.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="openModal(beginfinals, 5)">Begin Finals</button>
					</div>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;" *ngIf="this.league?.stateId == 8 && this.league?.day > 7">
				<div class="card-header"><i class="fa fa-exchange fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>Begin Conf Semis</strong></span></div>
				<div class="card-body">
					<p class="card-text">Setup the playoffs and move the league into the Conference Semis state.</p>
					<div style="text-align: right;">
						<button type="button" class="btn btn-link text-left" (click)="openModal(beginconfsemis, 5)">Begin Semis</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<ng-template #status>
		<div class="modal-header">
			<h4 class="modal-title">Manage League</h4>
			<button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
		</div>
		<form #league (ngSubmit)="updateLeagueStatus()">
			<div class="modal-body">
				<div class="form-group">
					<label class="col-md-6 control-label" for="textinput">Current: {{ this.currentStatus }}</label>
					<br />
					<label class="col-md-6 control-label" for="textinput">Status: </label>
					<span>
						<select name="leagueStatus" [(ngModel)]="statusSelection">
							<option *ngFor="let state of this.leagueStates" [value]="state.id">{{ state.state }}
							</option>
						</select>
					</span>
				</div>
			</div>
			<div class="modal-footer form-group text-center">
				<button type="submit" class="btn btn-primary">Select</button>
				<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
			</div>
		</form>
	</ng-template>




	<ng-template #removeRego>
		<div class="modal-header">
			<h4 class="modal-title">Remove Team Registration</h4>
			<button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
		</div>
		<form #leagueStatusForm (ngSubmit)="removeTeamRegistration()">
			<div class="modal-body">
				<div class="form-group">
					<label class="col-md-6 control-label" for="textinput">Select Team to De-register</label>
					<br />
					<label class="col-md-6 control-label" for="textinput">Teams: </label>
					<span>
						<select name="leagueStatus" [(ngModel)]="this.teamSelected">
							<option *ngFor="let team of this.teams" [value]="team.id">{{ team.teamname }}
								{{ team.mascot }}</option>
						</select>
					</span>
				</div>
			</div>
			<div class="modal-footer form-group text-center">
				<button type="submit" class="btn btn-primary">Select</button>
				<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
			</div>
		</form>
	</ng-template>



	<ng-template #rollover>
		<div class="modal-header">
			<h4 class="modal-title">Rollover Day</h4>
			<button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
		</div>
		<form #league (ngSubmit)="confirmRollOverDay()">
			<div class="modal-body">
				<div class="form-group">
					<label class="col-md-6 control-label">If all games are run, proceed to the next day - add player stats and move to next day.</label>
				</div>
			</div>
			<div class="modal-footer form-group text-center">
				<button type="submit" class="btn btn-primary" *ngIf="this.gamesAllRun == 1 && this.run == 0">Select</button>
				<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
			</div>
		</form>
	</ng-template>

	<ng-template #changeday>
		<div class="modal-header">
			<h4 class="modal-title">Change Day</h4>
			<button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
		</div>
		<form [formGroup]="dayForm" (ngSubmit)="changeDay()">
			<div class="modal-body">
				<div class="form-group">
					<span>
						<input class="form-control" placeholder="Day #" name="updateDay" type="text" formControlName="updateDay" [(ngModel)]="this.dayEntered">
					</span>
				</div>
			</div>
			<div class="modal-footer form-group text-center">
				<button type="submit" class="btn btn-primary">Change</button>
				<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
			</div>
		</form>
	</ng-template>

	<ng-template #runLottery>
		<div class="modal-header">
		  <h4 class="modal-title">Run Initial Draft Lottery</h4>
		  <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
		</div>
		<form #draftlotteryForm (ngSubmit)="runInitialDraftLottery()">
			<div class="modal-body">
		  <p>Click on run to perform the draft lottery</p>
			</div>
			<div class="modal-footer form-group text-center">
				<button type="submit" class="btn btn-primary">Run</button>
				<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
			  </div>
		</form>
	</ng-template> 

	<ng-template #beginplayoffs>
		<div class="modal-header">
		  <h4 class="modal-title">Begin the Playoffs</h4>
		  <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
		</div>
		<form #draftlotteryForm (ngSubmit)="beginPlayoffs()">
			<div class="modal-body">
		  <p>Setup and begin the season's playoffs</p>
			</div>
			<div class="modal-footer form-group text-center">
				<button type="submit" class="btn btn-primary">Begin</button>
				<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
			  </div>
		</form>
	</ng-template> 

	<ng-template #beginconfsemis>
		<div class="modal-header">
		  <h4 class="modal-title">Begin the Conference Semis</h4>
		  <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
		</div>
		<form #draftlotteryForm (ngSubmit)="beginConfSemis()">
			<div class="modal-body">
		  <p>Setup and begin the conference semi finals</p>
			</div>
			<div class="modal-footer form-group text-center">
				<button type="submit" class="btn btn-primary">Begin</button>
				<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
			  </div>
		</form>
	</ng-template> 

	<ng-template #beginconffinals>
		<div class="modal-header">
		  <h4 class="modal-title">Begin the Conference Finals</h4>
		  <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
		</div>
		<form #draftlotteryForm (ngSubmit)="beginConfFinals()">
			<div class="modal-body">
		  <p>Setup and begin the conference finals</p>
			</div>
			<div class="modal-footer form-group text-center">
				<button type="submit" class="btn btn-primary">Begin</button>
				<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
			  </div>
		</form>
	</ng-template>
	
	<ng-template #beginfinals>
		<div class="modal-header">
		  <h4 class="modal-title">Begin the Finals</h4>
		  <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
		</div>
		<form #draftlotteryForm (ngSubmit)="beginFinals()">
			<div class="modal-body">
		  <p>Setup and begin the finals</p>
			</div>
			<div class="modal-footer form-group text-center">
				<button type="submit" class="btn btn-primary">Begin</button>
				<button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
			  </div>
		</form>
	</ng-template>