.jumbotron {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.cards-row {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.centreheading {
    text-align: center;
    position: relative;
}