<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<div class="jumbotron">
	<h3 class="display">DEPTH CHARTS</h3>
</div>

<div class="box">
	<div class="container">
		<div class="row cards-row">
			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
				<div class="card-header"><i class="fa fa-users fa-2x"></i><span
						class="header-card ml-3"><strong>TEAM</strong></span></div>
				<div class="card-body">
					<p class="card-text">View the players on your team, stats, ratings, tendancies.</p>
					<button type="button" class="btn btn-link text-left" (click)="goToTeam()">Go to Team</button>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
				<div class="card-header"><i class="fa fa-address-card fa-2x"></i><span
						class="header-card ml-3"><strong>COACHING</strong></span></div>
				<div class="card-body">
					<p class="card-text">Modify your team's strategy and coach them to victory.</p>
					<button type="button" class="btn btn-link text-left" (click)="goToCoaching()">Coaching</button>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
				<div class="card-header"><i class="fa fa-user-secret fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>TRADES</strong></span></div>
				<div class="card-body">
					<p class="card-text">Improve your team. Offer other teams trades.</p>
					<button type="button" class="btn btn-link text-left">Make Trades</button>
				</div>
			</div>

			<div class="card border-info mb-3 ml-2 mr-2" style="max-width: 20rem;">
				<div class="card-header"><i class="fa fa-list fa-2x" aria-hidden="true"></i><span
						class="header-card ml-3"><strong>FREE AGENTS</strong></span></div>
				<div class="card-body">
					<p class="card-text">View the available free agents and sign players.</p>
					<button type="button" class="btn btn-link text-left" (click)="goToFreeAgents()">Go to Free Agents</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="box content-class">
	<div class="row">
		<div class="col">
			<table class="table table-hover roster-table">
				<thead>
					<tr>
					  <th></th>
					  <th>Option #1</th>
            <th>Option #2</th>
            <th>Option #3</th>
					</tr>
				  </thead>
				<tbody>
					<tr class="table-secondary">
            <td>Point Guard</td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(1, 1) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="pg01Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(1, 2) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="pg02Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(1, 3) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="pg03Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
          </tr>
          
          <tr class="table-secondary">
            <td>Shooting Guard</td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(2, 1) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="sg01Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(2, 2) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="sg02Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(2, 3) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="sg03Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
          </tr>

          <tr class="table-secondary">
            <td>Small Forward</td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(3, 1) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="sf01Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(3, 2) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="sf02Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(3, 3) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="sf03Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
          </tr>

          <tr class="table-secondary">
            <td>Power Forward</td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(4, 1) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="pf01Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(4, 2) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="pf02Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(4, 3) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="pf03Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
          </tr>

          <tr class="table-secondary">
            <td>Centre</td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(5, 1) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="c01Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(5, 2) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="c02Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
            <td *ngIf="this.isEdit == 0">
							{{ getDepthChartValue(5, 3) }}
            </td>
            <td *ngIf="this.isEdit == 1">
							<select [(ngModel)]="c03Id">
                <option [value]="0"></option>
                <option *ngFor="let player of this.playingRoster" [value]="player.id">
									{{ this.getPlayerName(player.id) }}
								</option>
              </select>
            </td>
          </tr>
				</tbody>
			</table>
    </div>
  </div>
  <div class="row edit-button" *ngIf="this.isEdit == 0">
    <button type="button" class="btn btn-primary" (click)="editDepthChart()">Edit</button>
  </div>
  <div class="row editing-buttons" *ngIf="this.isEdit == 1">
	<button type="button" class="btn btn-primary" (click)="saveDepthChart()">Save</button>
	<button type="button" class="btn btn-danger ml-3" (click)="cancelDepthChart()">Cancel</button>
  </div>
</div>