.jumbotron {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

table { 
    border-spacing: 10px;
    /* border-collapse: separate; */
    margin-left: 10px;
    margin-right: 20px;
}

.tablebutton {
    margin-left:5px;
}

.notrans {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.cards-row {
    padding: 5px;
    display: flex;
    justify-content: center;
}