<section class="dashboard-area">
	<h3 class="display">{{ this.team?.teamname }} {{this.team?.mascot }}</h3>
	<p>Current Salary - ${{ this.teamCap?.currentSalaryAmount | number }}</p>
	<p>League Salary Cap - ${{ this.teamCap?.salaryCapAmount | number }}</p>
	<p>Cap Space Remaining - ${{ this.remainingCapSpace | number }}</p>
</section>


<div class="box ml-3 mr-2">
	<div class="row ml-3 mr-2">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="" [ngClass]="this.statusGrades ? 'active' : ''"
					(click)="gradesClick()">Grades</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="" [ngClass]="this.statusStats ? 'active' : ''"
					(click)="statisticsClick()">Statistics</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="" [ngClass]="this.statusContracts ? 'active' : ''"
					(click)="contractsClick()">Player Contracts</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-hover roster-table" *ngIf="this.playerCount != 0 && this.statusGrades == 1">
				<thead>
					<tr>
						<th>Name</th>
						<th>Position(s)</th>
						<th>2pt</th>
						<th>3pt</th>
						<th>Ft</th>
						<th>O-Reb</th>
						<th>D-Reb</th>
						<th>Handling</th>
						<th>Passing</th>
						<th>Block</th>
						<th>Steal</th>
						<th>Stamina</th>
						<th>Intangibles</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-secondary" *ngFor="let player of this.playingRoster">
						<td>
							{{ player.firstName }} {{ player.surname }} <span
								*ngIf="checkIfInjured(player.playerId) == 1">&nbsp;<i
									class="fa fa-medkit fa-2x"></i></span>
						</td>
						<td>
							<ng-container *ngIf="player.pgPosition == 1">PG </ng-container>
							<ng-container *ngIf="player.sgPosition == 1">SG </ng-container>
							<ng-container *ngIf="player.sfPosition == 1">SF </ng-container>
							<ng-container *ngIf="player.pfPosition == 1">PF </ng-container>
							<ng-container *ngIf="player.cPosition == 1">C </ng-container>
						</td>
						<td>
							{{ player.twoGrade }}
						</td>
						<td>
							{{ player.threeGrade }}
						</td>
						<td>
							{{ player.ftGrade }}
						</td>
						<td>
							{{ player.oRebGrade }}
						</td>
						<td>
							{{ player.dRebGrade }}
						</td>
						<td>
							{{ player.handlingGrade }}
						</td>
						<td>
							{{ player.passingGrade }}
						</td>
						<td>
							{{ player.blockGrade }}
						</td>
						<td>
							{{ player.stealGrade }}
						</td>
						<td>
							{{ player.staminaGrade }}
						</td>
						<td>
							{{ player.intangiblesGrade }}
						</td>
						<td class="text-center">
							<button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player)"><i
									class="fa fa-edit"></i> View</button>
						</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-hover roster-table" *ngIf="this.playerCount != 0 && this.statusStats">
				<thead>
					<tr>
						<th>Name</th>
						<th>G</th>
						<th>MP</th>
						<th>FG</th>
						<th>FGA</th>
						<th>FG%</th>
						<th>3P</th>
						<th>3PA</th>
						<th>3P%</th>
						<th>FT</th>
						<th>FTA</th>
						<th>FT%</th>
						<th>ORB</th>
						<th>DRB</th>
						<th>TRB</th>
						<th>AST</th>
						<th>STL</th>
						<th>BLK</th>
						<th>TOV</th>
						<th>PF</th>
						<th>PTS</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-secondary" *ngFor="let player of this.playingRoster">
						<td>
							{{ this.player?.firstName }} {{ this.player?.surname }}
						</td>
						<td>
							{{ this.player?.gamesStats }}
						</td>
						<td>
							{{ getMinutesAverage(player) }}
						</td>
						<td>
							{{ getFGAverage(player) }}
						</td>
						<td>
							{{ getFGAAverage(player) }}
						</td>
						<td>
							{{ getFgPercentage(player) }}
						</td>
						<td>
							{{ getThreeFGAverage(player) }}
						</td>
						<td>
							{{ getThreeFGAAverage(player) }}
						</td>
						<td>
							{{ getThreeFgPercentage(player) }}
						</td>
						<td>
							{{ getFTAverage(player) }}
						</td>
						<td>
							{{ getFTAAverage(player) }}
						</td>
						<td>
							{{ getFTPercentage(player) }}
						</td>
						<td>
							{{ getOrebAverage(player) }}
						</td>
						<td>
							{{ getDrebverage(player) }}
						</td>
						<td>
							{{ getTotalRebAverage(player) }}
						</td>
						<td>
							{{ getTotalAstAverage(player) }}
						</td>
						<td>
							{{ getTotalStlAverage(player) }}
						</td>
						<td>
							{{ getTotalBlkAverage(player) }}
						</td>
						<td>
							{{ getTotalTovAverage(player) }}
						</td>
						<td>
							{{ getTotalFoulsAverage(player) }}
						</td>
						<td>
							{{ getTotalPointsAverage(player) }}
						</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-hover roster-table" *ngIf="this.statusContracts">
				<thead>
					<tr>
						<th>Name</th>
						<th>Current Year</th>
						<th>2nd Year</th>
						<th>3rd Year</th>
						<th>4th Year</th>
						<th>5th Year</th>
						<th>Option</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-secondary" *ngFor="let player of this.teamContracts">
						<td>
							{{ player?.playerName }}
						</td>
						<td>
							${{ player?.yearOne | number }}
							<p *ngIf="player?.guranteedOne == 1"> - Guarenteed</p>
						</td>
						<td>
							${{ player?.yearTwo | number }}
							<p *ngIf="player?.guranteedTwo == 1"> - Guarenteed</p>
						</td>
						<td>
							${{ player?.yearThree | number }}
							<p *ngIf="player?.guranteedThree == 1"> - Guarenteed</p>
						</td>
						<td>
							${{ player?.yearFour | number }}
							<p *ngIf="player?.guranteedFour == 1"> - Guarenteed</p>
						</td>
						<td>
							${{ player?.yearFive | number }}
							<p *ngIf="player?.guranteedFive == 1"> - Guarenteed</p>
						</td>
						<td>
							<p *ngIf="player?.teamOption == 1">Team</p>
							<p *ngIf="player?.playerOption == 1">Player</p>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>