<section class="main-content">
  <h1>ABA Basketball</h1>
  <p>Take ownership of your very own basketball franchise. Using our very own simulation engine, where you can compete
    against other users in your own league.</p>
  <ul>
    <li>Draft your initial team</li>
    <li>Manage team signings and waivers</li>
    <li>Manage your team's contracts and salary cap</li>
    <li>Manage your team lineups and strategies</li>
  </ul>
  <p>Want to run your own league? Contact us with your enquiry.</p>
  <img src="/assets/bball_background.jpg">
</section>

<div class="cardContainer">
  <div class="card" style="background-color:rgb(22, 24, 100);">
    <h2>Login</h2>
    <form [formGroup]="loginForm" accept-charset="UTF-8" role="form" (ngSubmit)="login()">
      <fieldset>
        <div class="form-group">
          <input class="form-control" placeholder="yourmail@example.com" name="username" type="text"
            formControlName="username">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Password" name="password" type="password" value=""
            formControlName="password">
        </div>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
      </fieldset>
    </form>
  </div>
  <div class="card" style="background-color:rgb(12, 126, 120);" *ngIf="this.availableTeams">
    <h2>Register</h2>
    <form [formGroup]="registerForm" accept-charset="UTF-8" role="form" (ngSubmit)="register()">
      <fieldset>
        <div class="form-group">
          <input class="form-control" placeholder="Username" name="username" type="text" formControlName="username">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Password" name="password" type="password" value=""
            formControlName="password">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Confirm Password" name="confirmpassword" type="password" value=""
            formControlName="confirmPassword">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="yourmail@example.com" name="email" type="text"
            formControlName="email">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Name" name="name" type="text" value="" formControlName="name">
        </div>
        <!-- <div class="form-group">
          <input class="form-control" placeholder="City - e.g. Atlanta" name="teamname" type="text" value=""
            formControlName="teamname">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Mascot - e.g. Hawks" name="mascot" type="text" value=""
            formControlName="mascot">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Short code - e.g. ATL" name="shortcode" type="text" value=""
            formControlName="shortcode">
        </div> -->
        <label class="col-md-6 control-label" for="textinput">Select your team: </label>
				<span>
					<select teamSelection name="teamSelection">
						<option *ngFor="let team of this.selectableTeams" [value]="team.id">{{ team.teamname }} {{ team.mascot }}
						</option>
					</select>
				</span>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
      </fieldset>
    </form>
  </div>
  <div class="card" style="background-color:rgb(12, 126, 120);" *ngIf="!this.availableTeams">
    <h2>Register</h2>
    <p>Currently no teams are available for registration. Please contact us and register your interest to go on our waiting list or to discuss options of starting your own league!</p>
    <p>New leagues will be set up shortly after interest has been provided.</p>
  </div>
  <div class="card" style="background-color:rgb(22, 24, 100);">
    <h2>Contact Us</h2>
    <p>Have any questions about our Basketball Simulation? Want to get your own compeition started up? Have some general feedback? Drop us a line!</p>
    <form [formGroup]="contactForm" class="form-horizontal" (ngSubmit)="submitContactForm()">
      <div class="form-row">
        <div class="col-md-6 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <div class="col-md-6 form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="email@example.com"
            formControlName="email">
        </div>
      </div>
      <div class="form-group ">
        <label for="contact">Your Message</label>
        <textarea class="form-control" placeholder="Message" id="contact" formControlName="contact"></textarea>
      </div>
      <input class="btn btn-lg btn-success btn-block" type="submit" value="Send Message">
    </form>
  </div>
</div>